<h2>Trending repositories for {{selectedLanguage == null? 'any language' : selectedLanguage.name}} since {{selectedTime==null?'daily':selectedTime}}</h2>
<div class="row">
  <div class="col">
    <label>Your first ng-select</label>
    <ng-select style="float: right; margin-right: 50px; min-width: 250px;" class="d-inline-block" 
                   [items]="languages"
                   bindLabel="name"
                   placeholder="Any language"
                   [(ngModel)]="selectedLanguage"
                   (change)="changeLanguage(selectedLanguage)"
                   >
    </ng-select>
    <ng-select style="float: right; margin-right: 50px; min-width: 250px;" class="d-inline-block" 
                   [items]="times"
                   bindLabel="label"
                   placeholder="Daily"
                   [(ngModel)]="selectedTime"
                   (change)="changeTime(selectedTime)"
                   >
    </ng-select>
    <!-- <p>
            Language: {{selectedLanguage == null? 'Any': selectedLanguage.name}}
    </p> -->
    <hr/>
  </div>
</div>
