<h2>My Heroes</h2>

<div>
  <label>Hero name:
    <input #heroName />
  </label>
  <!-- (click) passes input value to add() and then clears the input -->
  <button (click)="add(heroName.value); heroName.value=''">
    ADD
  </button>
</div>

<div class="row">
  <div class="col-4 card" style="list-style: none" *ngFor="let repo of repos">
    
  <img class="card-img-top" style="width:50px" src="{{repo.avatar}}" alt="Card image cap">
  <div class="card-body">
    <a href="{{repo.url}}">
    <h5 class="card-title">{{repo.name}}</h5>
  </a>
    <p class="card-text">{{repo.description}}</p>
  
  </div>
</div>

</div>
